@charset "utf-8";

* {font-family:'Noto Sans JP', 'Noto Sans KR'; font-size:12px; font-weight:300;}
i {display:block; color:#FFF; height:28px; line-height:30px; width:28px; text-align:center;}

:root
{
    --apptheme-main-0: #A7FFEB;
    --apptheme-main-1: rgb(16, 160, 144);
    --apptheme-main-2: #00796B;
    --apptheme-main-3: #004D40;
    --apptheme-main-fore: #FFFFFF;
    --apptheme-back: #0B1117;
    --apptheme-back-0: #161B22;
    --apptheme-back-1: #1F252D;
    --apptheme-back-2: #283039;
    --apptheme-back-3: #374049;
    --apptheme-back-fore: #FFFFFF;
    --apptheme-back-fore-dark: #C0C0C0;
    --apptheme-input-error: rgba(200, 40, 67, 1);
    --apptheme-input-error-half: rgba(200, 40, 67, .5);
    --apptheme-slide-back-0: #2C2E33;
    --apptheme-slide-back-1: #3F4249;
    --apptheme-slide-border: #53555C;
    --apptheme-slide-icon: #797B80;
    --apptheme-slide-fore: #FFFFFF;
    
    --color-timer-color: #FFF;
    --color-bg-bar: rgba(0,0,0,.5);
    --color-bg-icon: #000;
    --color-text: #F0F0F0;
    --color-common: #F0F0F0;
    --color-maxhittext:#FFF020;
    --color-glow: rgba(255,128,0,1);
    --color-glow-5: rgba(255,128,0,.5);
    
    --color-cdhit: rgb(192,0,192);
    --color-dhit:rgb(255,128,255);
    --color-chit: rgb(0,0,192);
    --color-shadow: rgba(0,0,0,0.5);
    --color-textshadow: rgba(0,0,0,1);
    --color-header: linear-gradient(to top, rgba(0,0,0,.5) 0%, rgba(0,0,0,.75) 100%);
    --color-resizer: rgba(255,255,255,.2);

    --color-role-pld-a: rgba(160, 196, 204, .75);
    --color-role-pld-b: rgba(160, 196, 204, .5);
    --color-role-pld-c: rgba(160, 196, 204, .25);
    --color-role-pld-d: rgb(160, 196, 204);

    --color-role-war-a: rgba(196, 96, 96, .75);
    --color-role-war-b: rgba(196, 96, 96, .5);
    --color-role-war-c: rgba(196, 96, 96, .25);
    --color-role-war-d: rgb(196, 96, 96);

    --color-role-drk-a: rgba(160, 96, 128, .75);
    --color-role-drk-b: rgba(160, 96, 128, .5);
    --color-role-drk-c: rgba(160, 96, 128, .25);
    --color-role-drk-d: rgb(160, 96, 128);

    --color-role-gnb-a: rgba(196, 160, 96, .75);
    --color-role-gnb-b: rgba(196, 160, 96, .5);
    --color-role-gnb-c: rgba(196, 160, 96, .25);
    --color-role-gnb-d: rgb(196, 160, 96);

    --color-role-whm-a: rgba(196, 172, 144, .75);
    --color-role-whm-b: rgba(196, 172, 144, .5);
    --color-role-whm-c: rgba(196, 172, 144, .25);
    --color-role-whm-d: rgb(196, 172, 144);

    --color-role-sch-a: rgba(72, 64, 196, .75);
    --color-role-sch-b: rgba(72, 64, 196, .5);
    --color-role-sch-c: rgba(72, 64, 196, .25);
    --color-role-sch-d: rgb(72, 64, 196);

    --color-role-ast-a: rgba(196, 144, 96, .75);
    --color-role-ast-b: rgba(196, 144, 96, .5);
    --color-role-ast-c: rgba(196, 144, 96, .25);
    --color-role-ast-d: rgb(196, 144, 96);

    --color-role-mnk-a: rgba(196, 160, 64, .75);
    --color-role-mnk-b: rgba(196, 160, 64, .5);
    --color-role-mnk-c: rgba(196, 160, 64, .25);
    --color-role-mnk-d: rgb(196, 160, 64);

    --color-role-drg-a: rgba(72, 96, 192, .75);
    --color-role-drg-b: rgba(72, 96, 192, .5);
    --color-role-drg-c: rgba(72, 96, 192, .25);
    --color-role-drg-d: rgb(72, 96, 192);

    --color-role-nin-a: rgba(128, 128, 144, .75);
    --color-role-nin-b: rgba(128, 128, 144, .5);
    --color-role-nin-c: rgba(196, 96, 128, .25);
    --color-role-nin-d: rgb(128, 128, 144);

    --color-role-sam-a: rgba(196, 196, 172, .75);
    --color-role-sam-b: rgba(196, 196, 172, .5);
    --color-role-sam-c: rgba(196, 96, 64, .25);
    --color-role-sam-d: rgb(196, 196, 172);

    --color-role-brd-a: rgba(128, 196, 64, .75);
    --color-role-brd-b: rgba(128, 196, 64, .5);
    --color-role-brd-c: rgba(128, 196, 64, .25);
    --color-role-brd-d: rgb(128, 196, 64);

    --color-role-mch-a: rgba(64, 160, 172, .75);
    --color-role-mch-b: rgba(64, 160, 172, .5);
    --color-role-mch-c: rgba(64, 160, 172, .25);
    --color-role-mch-d: rgb(64, 160, 172);

    --color-role-dnc-a: rgba(192, 144, 144, .75);
    --color-role-dnc-b: rgba(192, 144, 144, .5);
    --color-role-dnc-c: rgba(192, 144, 144, .25);
    --color-role-dnc-d: rgb(192, 144, 144);

    --color-role-blm-a: rgba(96, 64, 144, .75);
    --color-role-blm-b: rgba(96, 64, 144, .5);
    --color-role-blm-c: rgba(96, 64, 144, .25);
    --color-role-blm-d: rgb(96, 64, 144);

    --color-role-smn-a: rgba(64, 160, 48, .75);
    --color-role-smn-b: rgba(64, 160, 48, .5);
    --color-role-smn-c: rgba(64, 160, 64, .25);
    --color-role-smn-d: rgb(64, 160, 48);

    --color-role-rdm-a: rgba(196, 32, 128, .75);
    --color-role-rdm-b: rgba(196, 32, 128, .5);
    --color-role-rdm-c: rgba(160, 32, 96, .25);
    --color-role-rdm-d: rgb(160, 32, 96);

    --color-role-blu-a: rgba(64, 128, 196, .75);
    --color-role-blu-b: rgba(64, 128, 196, .5);
    --color-role-blu-c: rgba(64, 128, 196, .25);
    --color-role-blu-d: rgb(64, 128, 196);

    --color-role-dps-a: rgba(128, 64, 64, .75);
    --color-role-dps-b: rgba(128, 64, 64, .5);
    --color-role-dps-c: rgba(128, 64, 64, .25);
    --color-role-dps-d: rgb(128, 64, 64);

    --color-role-tanker-a: rgba(64, 64, 128, .75);
    --color-role-tanker-b: rgba(64, 64, 128, .5);
    --color-role-tanker-c: rgba(64, 64, 128, .25);
    --color-role-tanker-d: rgb(64, 64, 128);

    --color-role-healer-a: rgba(64, 128, 64, .75);
    --color-role-healer-b: rgba(64, 128, 64, .5);
    --color-role-healer-c: rgba(64, 128, 64, .25);
    --color-role-healer-d: rgb(64, 128, 64);

    --color-role-me-a: rgba(192, 255, 192, .75);
    --color-role-me-b: rgba(192, 255, 192, .5);
    --color-role-me-c: rgba(192, 255, 192, .25);
    --color-role-me-d: rgb(192, 255, 192);
}

/* xivicons SQUARE ENIX all right reserved */
.xiv-Gla:before{content:'\f001';}
.xiv-Pgl:before{content:'\f002';}
.xiv-Mrd:before{content:'\f003';}
.xiv-Lnc:before{content:'\f004';}
.xiv-Arc:before{content:'\f005';}
.xiv-Cnj:before{content:'\f006';}
.xiv-Thm:before{content:'\f007';}
.xiv-Crp:before{content:'\f008';}
.xiv-Bsm:before{content:'\f009';}
.xiv-Arm:before{content:'\f010';}
.xiv-Gsm:before{content:'\f011';}
.xiv-Ltw:before{content:'\f012';}
.xiv-Wvr:before{content:'\f013';}
.xiv-Alc:before{content:'\f014';}
.xiv-Cul:before{content:'\f015';}
.xiv-Min:before{content:'\f016';}
.xiv-Btn:before{content:'\f017';}
.xiv-Fsh:before{content:'\f018';}
.xiv-Pld:before{content:'\f019'; margin-top:0.05em;}
.xiv-Mnk:before{content:'\f020';}
.xiv-War:before{content:'\f021';}
.xiv-Drg:before{content:'\f022';}
.xiv-Brd:before{content:'\f023';}
.xiv-Whm:before{content:'\f024';}
.xiv-Blm:before{content:'\f025';}
.xiv-Acn:before{content:'\f026';}
.xiv-Smn:before{content:'\f027';}
.xiv-Sch:before{content:'\f028';}
.xiv-Rog:before{content:'\f029';}
.xiv-Nin:before{content:'\f030'; margin-left:0.12em;}
.xiv-Mch:before{content:'\f031';}
.xiv-Drk:before{content:'\f032';}
.xiv-Ast:before{content:'\f033';}
.xiv-Sam:before{content:'\f034';}
.xiv-Rdm:before{content:'\f035'; margin-left:-0.18em;}
.xiv-Blu:before{content:'\f036';}
.xiv-Gnb:before{content:'\f037';}
.xiv-Dnc:before{content:'\f038';}
.xiv-lb_icon:before {clip-path:url(#limitbreak); content:""; background:var(--color-text); display:block; margin:2px; width:24px; height:24px;}

html, body {margin:0; padding:0; border:0; overflow:hidden}

.background-layer {position:fixed; left:0; top:0; bottom:0; right:0; background-size:100% auto; z-index:-1;}

.header {display:flex; justify-content: space-between; align-items: center; height: 48px; background:var(--color-header); color:var(--color-text); backdrop-filter: blur(10px); padding:0px 8px; clip-path:url(#header_path)}
.header>section.left {align-items: center; display:flex;}
.header section.timer>div {flex-basis: 0; height:48px; line-height:48px}
.header .titlename {display:flex; flex-direction: column; padding:0 8px}
.header .titlename * {height:18px; line-height:18px; font-weight:700; font-size:13px}
.header .titlename span {position:relative; height:18px; display:inline-block; overflow:hidden; padding:0 8px; padding-left:18px;}
.header .titlename span::before {content:""; z-index:-1; height:32px; width:32px; transform:scale(.5); transform-origin:0% 0%; position:absolute; top:0; left:1px; background:var(--color-text); display:block; clip-path:url(#dps);}
.header .titlename span.phps::before {clip-path:url(#heal);}
.header section.timer {display:flex;}
.header section.timer>section {min-width:16px; height:32px; background:var(--color-timer-color); clip-path:url(#number_0)}
.header section.timer>section.sep {clip-path:url(#colon); min-width:10px}
.header .menubtn {justify-content: space-between; min-width:32px; cursor:pointer}
.header .menubtn::before {content:""; display:block; height:32px; background:var(--color-text); clip-path:url(#setting)}

@media screen and (max-width:320px)
{
    .header section.timer {transform:scale(0.56); transform-origin:0% 50%; width:50px}
}

div.main-list-area {display:flex; flex-direction: column; margin-top:1px; width:100%; padding:2px; transition:.5s;}
div.main-list-area>div {height:28px; display:flex; margin-bottom:2px; position:relative; padding-right:8px; transition:.5s; filter:drop-shadow(0px 1px 1px var(--color-shadow));}
div.main-list-area>div * {text-shadow:0px 1px 1px var(--color-textshadow), 0px 1px 1px var(--color-textshadow);}
div.main-list-area>div>div {margin-right:2px; color:var(--color-text); line-height:14px; position:relative; text-overflow:ellipsis}
div.main-list-area>div>div:last-child {margin:0;}

div.main-list-area>div>.tableitems {flex-grow:1; display:flex; flex-direction: column; position:relative;}
div.main-list-area>div>.tableitems::before {clip-path:url(#coverright); position:relative; z-index:1; background:var(--color-role-dps-d); content:""; height:28px; width:50px; display:block; position:absolute; left:-29px;}
div.main-list-area>div>.tableitems::after {content:attr(data-perc); padding-left:26px; position:relative; z-index:1; display:block; position:absolute; left:-4px; top:16px; text-shadow:1px 1px 0px #000; font-size:10px; text-align:right; width:22px;}


div.main-list-area>div>.tableitems>div {flex-grow:1; display:flex; position:relative; z-index:1; height:14px}
div.main-list-area>div>.tableitems>div>div[title] {padding:0px 4px}
div.main-list-area>div>.tableitems>div>div[title]::after {content:attr(title); font-size:9px; margin-left:4px;}
div.main-list-area>div>.tableitems>.upline *,
div.main-list-area>div>.tableitems>.downline * {font-size:12px;}
div.main-list-area>div>.tableitems>.upline>.name {flex-grow:1; font-size:13px; padding-left:14px;}
div.main-list-area>div>.tableitems>.downline {text-align:right; padding-right:8px;}
div.main-list-area>div>.tableitems>div>.maxhit,
div.main-list-area>div>.tableitems>div>.maxvalue {color:var(--color-maxhittext); flex-grow:1; text-align:right;}
div.main-list-area>div>.tableitems>div>.maxhit::after,
div.main-list-area>div>.tableitems>div>.maxvalue::after {display:none;}
div.main-list-area>div>.tableitems>div>.maxhit::before,
div.main-list-area>div>.tableitems>div>.maxvalue::before {content:attr(title); font-size:9px; margin-right:4px;}

div.main-list-area>div>.guage {position:Absolute; left:32px; right:4px; top:0; bottom:0; z-index:0; overflow:hidden}
div.main-list-area>div>.guage::before {content:""; display:block; height:28px; background:var(--color-bg-bar); position:absolute; right:0; left:0; top:0; clip-path:url(#barclip); transform:scale(-1)}
div.main-list-area>div>.guage::after {content:attr(data-perc); position:absolute; right:var(--perc); bottom:0; line-height:10px; font-weight:300; font-size:9px; z-index:2;}
div.main-list-area>div>.guage>.guage-process {height:28px; position:absolute; right:50%; width:100%; top:0; clip-path:url(#barclip); transition:.5s; transform:scale(-1)}
div.main-list-area>div>.guage>.guage-process::after {content:""; height:28px; width:var(--dwidth, 50%); position:absolute; top:0px; left:0px; display:block; background:linear-gradient(to right, var(--color-role-dps-a) 0%, var(--color-role-dps-c) 100%);}

div.main-list-area>div>.jobicon {display:block; position:relative; z-index:1; min-width:28px}
div.main-list-area>div>.jobicon>.cover {height:28px; width:28px; position:absolute; z-index:1;}

div.main-list-area>div>.jobicon>.cover::after {content:""; height:28px; width:28px; display:block; clip-path:url(#cover); background:conic-gradient(from 0deg, var(--color-cdhit) 0%, var(--color-cdhit) var(--cdhit, 0%), var(--color-dhit) var(--cdhit, 0%), var(--color-dhit) var(--dhit, 0%), var(--color-chit) var(--dhit, 0%), var(--color-chit) var(--chit, 0%), var(--color-common) var(--chit, 0%), var(--color-common) 100%); position:absolute; left:0; top:0;}
div.main-list-area>div>.jobicon>i {position:absolute; z-index:2; line-height:30px; width:28px; height:28px; left:0px; font-size:24px; padding-top:1px; clip-path:url(#coverbg)}
div.main-list-area>div>.jobicon::before {clip-path:url(#coverbg); position:absolute; background:var(--color-role-dps-a); display:block; content:""; width:28px; height:28px;}

.resizer {position:fixed; right:1px; bottom:1px; width:16px; height:16px; background:var(--color-resizer); clip-path:url(#resizer)}
.inactive {opacity:.25;}

div.main-list-area>.me>.jobicon::before {background:var(--color-role-me-b);}
div.main-list-area>.me>.tableitems::before {background-color:var(--color-role-me-d);}
div.main-list-area>.me>.guage>.guage-process::after {background:linear-gradient(to right, var(--color-role-me-a) 0%, var(--color-role-me-c) 100%);}

div.main-list-area>.tanker>.jobicon::before {background:var(--color-role-tanker-b);}
div.main-list-area>.tanker>.tableitems::before {background-color:var(--color-role-tanker-d);}
div.main-list-area>.tanker>.guage>.guage-process::after {background:linear-gradient(to right, var(--color-role-tanker-a) 0%, var(--color-role-tanker-c) 100%);}

div.main-list-area>.healer>.jobicon::before {background:var(--color-role-healer-b);}
div.main-list-area>.healer>.tableitems::before {background-color:var(--color-role-healer-d);}
div.main-list-area>.healer>.guage>.guage-process::after {background:linear-gradient(to right, var(--color-role-healer-a) 0%, var(--color-role-healer-c) 100%);}

div.main-list-area>.pld>.jobicon::before,
div.main-list-area>.gla>.jobicon::before {background:var(--color-role-pld-b);}
div.main-list-area>.pld>.tableitems::before,
div.main-list-area>.gla>.tableitems::before  {background-color:var(--color-role-pld-d);}
div.main-list-area>.gla>.guage>.guage-process::after,
div.main-list-area>.pld>.guage>.guage-process::after {background:linear-gradient(to right, var(--color-role-pld-a) 0%, var(--color-role-pld-c) 100%);}

div.main-list-area>.mrd>.jobicon::before,
div.main-list-area>.war>.jobicon::before {background:var(--color-role-war-b);}
div.main-list-area>.mrd>.tableitems::before,
div.main-list-area>.war>.tableitems::before {background-color:var(--color-role-war-d);}
div.main-list-area>.mrd>.guage>.guage-process::after,
div.main-list-area>.war>.guage>.guage-process::after {background:linear-gradient(to right, var(--color-role-war-a) 0%, var(--color-role-war-c) 100%);}

div.main-list-area>.drk>.jobicon::before {background:var(--color-role-drk-b);}
div.main-list-area>.drk>.tableitems::before {background-color:var(--color-role-drk-d);}
div.main-list-area>.drk>.guage>.guage-process::after {background:linear-gradient(to right, var(--color-role-drk-a) 0%, var(--color-role-drk-c) 100%);}

div.main-list-area>.gnb>.jobicon::before {background:var(--color-role-gnb-b);}
div.main-list-area>.gnb>.tableitems::before {background-color:var(--color-role-gnb-d);}
div.main-list-area>.gnb>.guage>.guage-process::after {background:linear-gradient(to right, var(--color-role-gnb-a) 0%, var(--color-role-gnb-c) 100%);}

div.main-list-area>.cnj>.jobicon::before,
div.main-list-area>.whm>.jobicon::before {background:var(--color-role-whm-b);}
div.main-list-area>.cnj>.tableitems::before,
div.main-list-area>.whm>.tableitems::before {background-color:var(--color-role-whm-d);}
div.main-list-area>.cnj>.guage>.guage-process::after,
div.main-list-area>.whm>.guage>.guage-process::after {background:linear-gradient(to right, var(--color-role-whm-a) 0%, var(--color-role-whm-c) 100%);}

div.main-list-area>.sch>.jobicon::before {background:var(--color-role-sch-b);}
div.main-list-area>.sch>.tableitems::before {background-color:var(--color-role-sch-d);}
div.main-list-area>.sch>.guage>.guage-process::after {background:linear-gradient(to right, var(--color-role-sch-a) 0%, var(--color-role-sch-c) 100%);}

div.main-list-area>.ast>.jobicon::before {background:var(--color-role-ast-b);}
div.main-list-area>.ast>.tableitems::before {background-color:var(--color-role-ast-d);}
div.main-list-area>.ast>.guage>.guage-process::after {background:linear-gradient(to right, var(--color-role-ast-a) 0%, var(--color-role-ast-c) 100%);}

div.main-list-area>.pgl>.jobicon::before,
div.main-list-area>.mnk>.jobicon::before {background:var(--color-role-mnk-b);}
div.main-list-area>.pgl>.tableitems::before,
div.main-list-area>.mnk>.tableitems::before {background-color:var(--color-role-mnk-d);}
div.main-list-area>.pgl>.guage>.guage-process::after,
div.main-list-area>.mnk>.guage>.guage-process::after {background:linear-gradient(to right, var(--color-role-mnk-a) 0%, var(--color-role-mnk-c) 100%);}

div.main-list-area>.lnc>.jobicon::before,
div.main-list-area>.drg>.jobicon::before {background:var(--color-role-drg-b);}
div.main-list-area>.lnc>.tableitems::before,
div.main-list-area>.drg>.tableitems::before {background-color:var(--color-role-drg-d);}
div.main-list-area>.lnc>.guage>.guage-process::after,
div.main-list-area>.drg>.guage>.guage-process::after {background:linear-gradient(to right, var(--color-role-drg-a) 0%, var(--color-role-drg-c) 100%);}

div.main-list-area>.rog>.jobicon::before,
div.main-list-area>.nin>.jobicon::before {background:var(--color-role-nin-b);}
div.main-list-area>.rog>.tableitems::before,
div.main-list-area>.nin>.tableitems::before {background-color:var(--color-role-nin-d);}
div.main-list-area>.rog>.guage>.guage-process::after,
div.main-list-area>.nin>.guage>.guage-process::after {background:linear-gradient(to right, var(--color-role-nin-a) 0%, var(--color-role-nin-c) 100%);}

div.main-list-area>.sam>.jobicon::before {background:var(--color-role-sam-b);}
div.main-list-area>.sam>.tableitems::before {background-color:var(--color-role-sam-d);}
div.main-list-area>.sam>.guage>.guage-process::after {background:linear-gradient(to right, var(--color-role-sam-a) 0%, var(--color-role-sam-c) 100%);}

div.main-list-area>.arc>.jobicon::before,
div.main-list-area>.brd>.jobicon::before {background:var(--color-role-brd-b);}
div.main-list-area>.arc>.tableitems::before,
div.main-list-area>.brd>.tableitems::before {background-color:var(--color-role-brd-d);}
div.main-list-area>.arc>.guage>.guage-process::after,
div.main-list-area>.brd>.guage>.guage-process::after {background:linear-gradient(to right, var(--color-role-brd-a) 0%, var(--color-role-brd-c) 100%);}

div.main-list-area>.mch>.jobicon::before {background:var(--color-role-mch-b);}
div.main-list-area>.mch>.tableitems::before {background-color:var(--color-role-mch-d);}
div.main-list-area>.mch>.guage>.guage-process::after {background:linear-gradient(to right, var(--color-role-mch-a) 0%, var(--color-role-mch-c) 100%);}

div.main-list-area>.dnc>.jobicon::before {background:var(--color-role-dnc-b);}
div.main-list-area>.dnc>.tableitems::before {background-color:var(--color-role-dnc-d);}
div.main-list-area>.dnc>.guage>.guage-process::after {background:linear-gradient(to right, var(--color-role-dnc-a) 0%, var(--color-role-dnc-c) 100%);}

div.main-list-area>.thm>.jobicon::before,
div.main-list-area>.blm>.jobicon::before {background:var(--color-role-blm-b);}
div.main-list-area>.thm>.tableitems::before,
div.main-list-area>.blm>.tableitems::before {background-color:var(--color-role-blm-d);}
div.main-list-area>.thm>.guage>.guage-process::after,
div.main-list-area>.blm>.guage>.guage-process::after {background:linear-gradient(to right, var(--color-role-blm-a) 0%, var(--color-role-blm-c) 100%);}

div.main-list-area>.acn>.jobicon::before,
div.main-list-area>.smn>.jobicon::before {background:var(--color-role-smn-b);}
div.main-list-area>.acn>.tableitems::before,
div.main-list-area>.smn>.tableitems::before {background-color:var(--color-role-smn-d);}
div.main-list-area>.acn>.guage>.guage-process::after,
div.main-list-area>.smn>.guage>.guage-process::after {background:linear-gradient(to right, var(--color-role-smn-a) 0%, var(--color-role-smn-c) 100%);}

div.main-list-area>.rdm>.jobicon::before {background:var(--color-role-rdm-b);}
div.main-list-area>.rdm>.tableitems::before {background-color:var(--color-role-rdm-d);}
div.main-list-area>.rdm>.guage>.guage-process::after {background:linear-gradient(to right, var(--color-role-rdm-a) 0%, var(--color-role-rdm-c) 100%);}

div.main-list-area>.blu>.jobicon::before {background:var(--color-role-blu-b);}
div.main-list-area>.blu>.tableitems::before {background-color:var(--color-role-blu-d);}
div.main-list-area>.blu>.guage>.guage-process::after {background:linear-gradient(to right, var(--color-role-blu-a) 0%, var(--color-role-blu-c) 100%);}

i {text-shadow:none !important; filter:drop-shadow(0px 0px 1px var(--color-shadow)) drop-shadow(0px 1px 0px var(--color-shadow));}