@charset "utf-8";

:root
{
    --apptheme-main-0: #A7FFEB;
    --apptheme-main-1: rgb(16, 160, 144);
    --apptheme-main-2: #00796B;
    --apptheme-main-3: #004D40;
    --apptheme-main-fore: #FFFFFF;
    --apptheme-back: #0B1117;
    --apptheme-back-0: #161B22;
    --apptheme-back-1: #1F252D;
    --apptheme-back-2: #283039;
    --apptheme-back-3: #374049;
    --apptheme-back-fore: #FFFFFF;
    --apptheme-back-fore-dark: #C0C0C0;
    --apptheme-input-error: rgba(200, 40, 67, 1);
    --apptheme-input-error-half: rgba(200, 40, 67, .5);
    --apptheme-slide-back-0: #2C2E33;
    --apptheme-slide-back-1: #3F4249;
    --apptheme-slide-border: #53555C;
    --apptheme-slide-icon: #797B80;
    --apptheme-slide-fore: #FFFFFF;
    
    --color-timer-color: #FFF;
    --color-bg-bar: rgba(0,0,0,.5);
    --color-bg-icon: #000;
    --color-text: #F0F0F0;
    --color-common: #F0F0F0;
    --color-maxhittext:#FFF020;
    --color-glow: rgba(255,128,0,1);
    --color-glow-5: rgba(255,128,0,.5);
    
    --color-cdhit: rgb(192,0,0);
    --color-dhit:rgb(0,192,0);
    --color-chit: rgb(0,0,192);
    --color-shadow: rgba(0,0,0,0.5);
    --color-textshadow: rgba(0,0,0,1);
    --color-header: linear-gradient(to top, rgba(0,0,0,.5) 0%, rgba(0,0,0,.75) 100%);
    --color-resizer: rgba(255,255,255,.2);

    --color-role-pld-a: rgba(160, 196, 204, .75);
    --color-role-pld-b: rgba(160, 196, 204, .5);
    --color-role-pld-c: rgba(160, 196, 204, .25);
    --color-role-pld-d: rgb(160, 196, 204);
    --color-role-pld-font: rgb(255, 255, 255);

    --color-role-war-a: rgba(196, 96, 96, .75);
    --color-role-war-b: rgba(196, 96, 96, .5);
    --color-role-war-c: rgba(196, 96, 96, .25);
    --color-role-war-d: rgb(196, 96, 96);
    --color-role-war-font: rgb(255, 255, 255);

    --color-role-drk-a: rgba(160, 96, 128, .75);
    --color-role-drk-b: rgba(160, 96, 128, .5);
    --color-role-drk-c: rgba(160, 96, 128, .25);
    --color-role-drk-d: rgb(160, 96, 128);
    --color-role-drk-font: rgb(255, 255, 255);

    --color-role-gnb-a: rgba(196, 160, 96, .75);
    --color-role-gnb-b: rgba(196, 160, 96, .5);
    --color-role-gnb-c: rgba(196, 160, 96, .25);
    --color-role-gnb-d: rgb(196, 160, 96);
    --color-role-gnb-font: rgb(255, 255, 255);

    --color-role-whm-a: rgba(196, 172, 144, .75);
    --color-role-whm-b: rgba(196, 172, 144, .5);
    --color-role-whm-c: rgba(196, 172, 144, .25);
    --color-role-whm-d: rgb(196, 172, 144);
    --color-role-whm-font: rgb(255, 255, 255);

    --color-role-sch-a: rgba(72, 64, 196, .75);
    --color-role-sch-b: rgba(72, 64, 196, .5);
    --color-role-sch-c: rgba(72, 64, 196, .25);
    --color-role-sch-d: rgb(72, 64, 196);
    --color-role-sch-font: rgb(255, 255, 255);

    --color-role-ast-a: rgba(196, 144, 96, .75);
    --color-role-ast-b: rgba(196, 144, 96, .5);
    --color-role-ast-c: rgba(196, 144, 96, .25);
    --color-role-ast-d: rgb(196, 144, 96);
    --color-role-ast-font: rgb(255, 255, 255);

    --color-role-sge-a: rgba(160, 160, 160, .75);
    --color-role-sge-b: rgba(160, 160, 160, .5);
    --color-role-sge-c: rgba(160, 160, 160, .25);
    --color-role-sge-d: rgba(160, 160, 160);
    --color-role-sge-font: rgb(192, 255, 255);

    --color-role-mnk-a: rgba(196, 160, 64, .75);
    --color-role-mnk-b: rgba(196, 160, 64, .5);
    --color-role-mnk-c: rgba(196, 160, 64, .25);
    --color-role-mnk-d: rgb(196, 160, 64);
    --color-role-mnk-font: rgb(255, 255, 255);

    --color-role-drg-a: rgba(72, 96, 192, .75);
    --color-role-drg-b: rgba(72, 96, 192, .5);
    --color-role-drg-c: rgba(72, 96, 192, .25);
    --color-role-drg-d: rgb(72, 96, 192);
    --color-role-drg-font: rgb(255, 255, 255);

    --color-role-nin-a: rgba(128, 128, 144, .75);
    --color-role-nin-b: rgba(128, 128, 144, .5);
    --color-role-nin-c: rgba(196, 96, 128, .25);
    --color-role-nin-d: rgb(128, 128, 144);
    --color-role-nin-font: rgb(255, 255, 255);

    --color-role-sam-a: rgba(196, 196, 172, .75);
    --color-role-sam-b: rgba(196, 196, 172, .5);
    --color-role-sam-c: rgba(196, 96, 64, .25);
    --color-role-sam-d: rgb(196, 196, 172);
    --color-role-sam-font: rgb(255, 255, 255);

    --color-role-rpr-a: rgba(96, 96, 112, .75);
    --color-role-rpr-b: rgba(96, 96, 112, .5);
    --color-role-rpr-c: rgba(96, 96, 112, .25);
    --color-role-rpr-d: rgb(96, 96, 112);
    --color-role-rpr-font: rgb(255, 255, 192);

    --color-role-brd-a: rgba(128, 196, 64, .75);
    --color-role-brd-b: rgba(128, 196, 64, .5);
    --color-role-brd-c: rgba(128, 196, 64, .25);
    --color-role-brd-d: rgb(128, 196, 64);
    --color-role-brd-font: rgb(255, 255, 255);

    --color-role-mch-a: rgba(64, 160, 172, .75);
    --color-role-mch-b: rgba(64, 160, 172, .5);
    --color-role-mch-c: rgba(64, 160, 172, .25);
    --color-role-mch-d: rgb(64, 160, 172);
    --color-role-mch-font: rgb(255, 255, 255);

    --color-role-dnc-a: rgba(192, 144, 144, .75);
    --color-role-dnc-b: rgba(192, 144, 144, .5);
    --color-role-dnc-c: rgba(192, 144, 144, .25);
    --color-role-dnc-d: rgb(192, 144, 144);
    --color-role-dnc-font: rgb(255, 255, 255);

    --color-role-blm-a: rgba(96, 64, 144, .75);
    --color-role-blm-b: rgba(96, 64, 144, .5);
    --color-role-blm-c: rgba(96, 64, 144, .25);
    --color-role-blm-d: rgb(96, 64, 144);
    --color-role-blm-font: rgb(255, 255, 255);

    --color-role-smn-a: rgba(64, 160, 48, .75);
    --color-role-smn-b: rgba(64, 160, 48, .5);
    --color-role-smn-c: rgba(64, 160, 64, .25);
    --color-role-smn-d: rgb(64, 160, 48);
    --color-role-smn-font: rgb(255, 255, 255);

    --color-role-rdm-a: rgba(196, 32, 128, .75);
    --color-role-rdm-b: rgba(196, 32, 128, .5);
    --color-role-rdm-c: rgba(160, 32, 96, .25);
    --color-role-rdm-d: rgb(160, 32, 96);
    --color-role-rdm-font: rgb(255, 255, 255);

    --color-role-blu-a: rgba(64, 128, 196, .75);
    --color-role-blu-b: rgba(64, 128, 196, .5);
    --color-role-blu-c: rgba(64, 128, 196, .25);
    --color-role-blu-d: rgb(64, 128, 196);
    --color-role-blu-font: rgb(255, 255, 255);

    --color-role-dps-a: rgba(128, 64, 64, .75);
    --color-role-dps-b: rgba(128, 64, 64, .5);
    --color-role-dps-c: rgba(128, 64, 64, .25);
    --color-role-dps-d: rgb(128, 64, 64);
    --color-role-dps-font: rgb(255, 255, 255);

    --color-role-tanker-a: rgba(64, 64, 128, .75);
    --color-role-tanker-b: rgba(64, 64, 128, .5);
    --color-role-tanker-c: rgba(64, 64, 128, .25);
    --color-role-tanker-d: rgb(64, 64, 128);
    --color-role-tanker-font: rgb(255, 255, 255);

    --color-role-healer-a: rgba(64, 128, 64, .75);
    --color-role-healer-b: rgba(64, 128, 64, .5);
    --color-role-healer-c: rgba(64, 128, 64, .25);
    --color-role-healer-d: rgb(64, 128, 64);
    --color-role-healer-font: rgb(255, 255, 255);

    --color-role-me-a: rgba(160, 160, 160, .75);
    --color-role-me-b: rgba(160, 160, 160, .5);
    --color-role-me-c: rgba(160, 160, 160, .25);
    --color-role-me-d: rgb(160, 160, 160);
    --color-role-me-font: ;
}

/* xivicons SQUARE ENIX all right reserved */
.xiv-Gla:before{content:'\f001';}
.xiv-Pgl:before{content:'\f002';}
.xiv-Mrd:before{content:'\f003';}
.xiv-Lnc:before{content:'\f004';}
.xiv-Arc:before{content:'\f005';}
.xiv-Cnj:before{content:'\f006';}
.xiv-Thm:before{content:'\f007';}
.xiv-Crp:before{content:'\f008';}
.xiv-Bsm:before{content:'\f009';}
.xiv-Arm:before{content:'\f010';}
.xiv-Gsm:before{content:'\f011';}
.xiv-Ltw:before{content:'\f012';}
.xiv-Wvr:before{content:'\f013';}
.xiv-Alc:before{content:'\f014';}
.xiv-Cul:before{content:'\f015';}
.xiv-Min:before{content:'\f016';}
.xiv-Btn:before{content:'\f017';}
.xiv-Fsh:before{content:'\f018';}
.xiv-Pld:before{content:'\f019'; margin-top:0.05em;}
.xiv-Mnk:before{content:'\f020';}
.xiv-War:before{content:'\f021';}
.xiv-Drg:before{content:'\f022';}
.xiv-Brd:before{content:'\f023';}
.xiv-Whm:before{content:'\f024';}
.xiv-Blm:before{content:'\f025';}
.xiv-Acn:before{content:'\f026';}
.xiv-Smn:before{content:'\f027';}
.xiv-Sch:before{content:'\f028';}
.xiv-Rog:before{content:'\f029';}
.xiv-Nin:before{content:'\f030'; margin-left:0.12em;}
.xiv-Mch:before{content:'\f031';}
.xiv-Drk:before{content:'\f032';}
.xiv-Ast:before{content:'\f033';}
.xiv-Sam:before{content:'\f034';}
.xiv-Rdm:before{content:'\f035'; margin-left:-0.18em;}
.xiv-Blu:before{content:'\f036';}
.xiv-Gnb:before{content:'\f037';}
.xiv-Dnc:before{content:'\f038';}
.xiv-Rpr:before{content:'\f039';}
.xiv-Sge:before{content:'\f040';}
.xiv-lb_icon:before {clip-path:url(#limitbreak); content:""; background:var(--color-text); display:block; margin:2px; width:24px; height:24px;}

* {font-family:'Noto Sans JP', 'Noto Sans KR'; font-size:12px; font-weight:300;}
i {display:block; color:#FFF; height:28px; line-height:30px; width:28px; text-align:center;}

html, body {margin:0; padding:0; border:0; overflow:hidden}

#hiddenlayer {height:0 !important; line-height:0; position:absolute; opacity:0;}
.background-layer {position:fixed; left:0; top:0; bottom:0; right:0; background-size:100% auto; z-index:-1;}

.header {display:flex; justify-content: space-between; align-items: center; height: 48px; background:var(--color-header); color:var(--color-text); backdrop-filter: blur(10px); padding:0px 8px; clip-path:url(#header_path)}
.header>section.left {align-items: center; display:flex;}
.header section.timer>div {flex-basis: 0; height:48px; line-height:48px}
.header .titlename {display:flex; flex-direction: column; padding:0 8px; overflow:hidden;}
.header .titlename * {height:18px; line-height:18px; font-weight:700; font-size:13px}
.header .titlename span {position:relative; height:18px; display:inline-block; overflow:hidden; padding:0 8px; padding-left:18px;}
.header .titlename span::before {content:""; z-index:-1; height:32px; width:32px; transform:scale(.5); transform-origin:0% 0%; position:absolute; top:0; left:1px; background:var(--color-text); display:block; clip-path:url(#dps);}
.header .titlename span.phps::before {clip-path:url(#heal);}
.header section.timer {display:flex;}
.header section.timer>section {min-width:16px; height:32px; background:var(--color-timer-color); clip-path:url(#number_0)}
.header section.timer>section.sep {clip-path:url(#colon); min-width:10px}
.header .menubtn {justify-content: space-between; min-width:32px; cursor:pointer}
.header .menubtn::before {content:""; display:block; height:32px; background:var(--color-text); clip-path:url(#setting)}

.smallnum {height:10px; position:absolute; left:50%; top:50%; display:flex;}
.smallnum>div {background:#000; height:10px; width:11px; margin-right:1px;}
.smallnum>.n-0 {clip-path:url(#smallnum_0);}
.smallnum>.n-1 {clip-path:url(#smallnum_1);}
.smallnum>.n-2 {clip-path:url(#smallnum_2);}
.smallnum>.n-3 {clip-path:url(#smallnum_3);}
.smallnum>.n-4 {clip-path:url(#smallnum_4);}
.smallnum>.n-5 {clip-path:url(#smallnum_5);}
.smallnum>.n-6 {clip-path:url(#smallnum_6);}
.smallnum>.n-7 {clip-path:url(#smallnum_7);}
.smallnum>.n-8 {clip-path:url(#smallnum_8);}
.smallnum>.n-9 {clip-path:url(#smallnum_9);}
.smallnum>.colon {clip-path:url(#smallcolon); width:5px}

@media screen and (max-width:320px)
{
    .header section.timer {transform:scale(0.56); transform-origin:0% 50%; width:50px}
}

/* 기본 */

div.main-list-area .detail {display:none;}

.default>div.main-list-area {display:flex; flex-direction: column; margin-top:1px; width:100%; padding:2px; transition:.5s;}
.default>div.main-list-area>div {height:28px; display:flex; margin-bottom:2px; position:relative; padding-right:8px; transition:.5s; filter:drop-shadow(0px 1px 1px var(--color-shadow));}
.default>div.main-list-area>div * {text-shadow:0px 1px 1px var(--color-textshadow), 0px 1px 1px var(--color-textshadow);}
.default>div.main-list-area>div>div {margin-right:2px; color:var(--color-text); line-height:14px; position:relative; text-overflow:ellipsis}
.default>div.main-list-area>div>div:last-child {margin:0;}

.default>div.main-list-area>div>.tableitems {flex-grow:1; display:flex; flex-direction: column; position:relative;}
.default>div.main-list-area>div>.tableitems::before {clip-path:url(#coverright); position:relative; z-index:1; background:var(--color-role-dps-d); content:""; height:28px; width:50px; display:block; position:absolute; left:-29px;}
.default>div.main-list-area>div>.tableitems::after {content:attr(data-perc); padding-left:26px; position:relative; z-index:1; display:block; position:absolute; left:-4px; top:16px; text-shadow:1px 1px 0px #000; font-size:10px; text-align:right; width:22px;}

.default>div.main-list-area>div>.tableitems>div {flex-grow:1; display:flex; position:relative; z-index:1; height:14px}
.default>div.main-list-area>div>.tableitems>div>div[title] {padding:0px 4px}
.default>div.main-list-area>div>.tableitems>div>div[title]::after {content:attr(title); font-size:9px; margin-left:4px;}
.default>div.main-list-area>div>.tableitems>.upline *,
.default>div.main-list-area>div>.tableitems>.downline * {font-size:12px;}
.default>div.main-list-area>div>.tableitems>.upline>.name {flex-grow:1; font-size:13px; padding-left:14px; overflow:hidden; height:14px;}
.default>div.main-list-area>div>.tableitems>.downline {text-align:right; padding-right:8px;}
.default>div.main-list-area>div>.tableitems>div>.maxhit,
.default>div.main-list-area>div>.tableitems>div>.maxvalue {color:var(--color-maxhittext); flex-grow:1; text-align:right;}
.default>div.main-list-area>div>.tableitems>div>.maxhit::after,
.default>div.main-list-area>div>.tableitems>div>.maxvalue::after {display:none;}
.default>div.main-list-area>div>.tableitems>div>.maxhit::before,
.default>div.main-list-area>div>.tableitems>div>.maxvalue::before {content:attr(title); font-size:9px; margin-right:4px;}

.default>div.main-list-area>div>.guage {position:Absolute; left:32px; right:4px; top:0; bottom:0; z-index:0; overflow:hidden}
.default>div.main-list-area>div>.guage::before {content:""; display:block; height:28px; background:var(--color-bg-bar); position:absolute; right:0; left:0; top:0; clip-path:url(#barclip); transform:scaleX(-1)}
.default>div.main-list-area>div>.guage::after {content:attr(data-perc); position:absolute; right:var(--perc); bottom:0; line-height:10px; font-weight:300; font-size:9px; z-index:2;}
.default>div.main-list-area>div>.guage>.guage-process {height:28px; position:absolute; right:50%; width:100%; top:0; clip-path:url(#barclip); transition:.5s; transform:scaleX(-1)}
.default>div.main-list-area>div>.guage>.guage-process::after {content:""; height:28px; width:var(--dwidth, 50%); position:absolute; top:0px; left:0px; display:block; background:linear-gradient(to right, var(--color-role-dps-a) 0%, var(--color-role-dps-c) 100%); padding-left:2px;}

.default>div.main-list-area>div>.jobicon {display:block; position:relative; z-index:1; min-width:28px}
.default>div.main-list-area>div>.jobicon>.cover {height:28px; width:28px; position:absolute; z-index:1;}

.default>div.main-list-area>div>.jobicon>.cover::after {content:""; height:28px; width:28px; display:block; clip-path:url(#cover); background:conic-gradient(from 0deg, var(--color-cdhit) 0%, var(--color-cdhit) var(--cdhit, 0%), var(--color-dhit) var(--cdhit, 0%), var(--color-dhit) var(--dhit, 0%), var(--color-chit) var(--dhit, 0%), var(--color-chit) var(--chit, 0%), var(--color-common) var(--chit, 0%), var(--color-common) 100%); position:absolute; left:0; top:0;}
.default>div.main-list-area>div>.jobicon>i {position:absolute; z-index:2; line-height:30px; width:28px; height:28px; left:0px; font-size:24px; padding-top:1px; clip-path:url(#coverbg)}
.default>div.main-list-area>div>.jobicon::before {clip-path:url(#coverbg); position:absolute; background:var(--color-role-dps-a); display:block; content:""; width:28px; height:28px;}

i {text-shadow:none !important; filter:drop-shadow(0px 0px 1px var(--color-shadow)) drop-shadow(0px 1px 0px var(--color-shadow));}

.default>div.main-list-area>div .tableitems::before { background:linear-gradient(to bottom, var(--instance-d) 0px, var(--instance-d) 17.75px, #303030 17.75px, #202020 100%);}
.default>div.main-list-area>div .tableitems::after { padding-left:0px; letter-spacing: 0.1em; left:4px}

/* 기타 표시 CSS */
.resizer {position:fixed; right:1px; bottom:1px; width:16px; height:16px; background:var(--color-resizer); clip-path:url(#resizer)}
.inactive {opacity:.25;}

/* 가로 모드 */

.horizon>.header>.left {align-items: flex-start;}
.horizon>.header .titlename {display:flex; flex-direction: row;}
.horizon>.header .titlename>.title {margin-right:10px;}
.horizon>div.main-list-area {display:flex; flex-direction: row; margin-top:1px; width:calc(100% - 160px); padding:2px; transition:.5s; justify-content: center; position:fixed; align-content: flex-start; left:80px; top:24px; bottom:0; right:80px; z-index:10; flex-wrap:wrap;}
.horizon>div.main-list-area>div {height:28px; display:flex; flex-basis: 0; margin-bottom:4px; position:relative; padding-right:8px; transition:.5s; filter:drop-shadow(0px 1px 1px var(--color-shadow)); min-width:120px !important; max-width:120px !important;}
.horizon>div.main-list-area>div>.tableitems {flex-grow:1; display:flex; flex-direction: column; position:relative;}
.horizon>div.main-list-area>div .tableitems::after {position:absolute; z-index:10000; bottom:0px; margin-left:32px; line-height:10px;}
.horizon>div.main-list-area>div>.tableitems>div {flex-grow:1; position:relative; z-index:1; line-height:14px; height:14px}
.horizon>div.main-list-area>div>.tableitems>div * {color:var(--color-text);}
.horizon>div.main-list-area>div::before {content:""; display:block; width:10px; height:28px; position:absolute; left:1px; background:linear-gradient(to bottom, var(--color-cdhit) 0%, var(--color-cdhit) var(--cdhit, 0%), var(--color-dhit) var(--cdhit, 0%), var(--color-dhit) var(--dhit, 0%), var(--color-chit) var(--dhit, 0%), var(--color-chit) var(--chit, 0%), var(--color-common) var(--chit, 0%), var(--color-common) 100%); z-index:1000; clip-path:url(#min-bar-cdhit); opacity:0.8;}
.horizon>div.main-list-area>div>.guage {position:Absolute; left:5px; right:1px; top:0; bottom:0; z-index:0; overflow:hidden; border-radius:4px; clip-path:url(#barclip);}
.horizon>div.main-list-area>div>.guage>.guage-process {clip-path:url(#barclip); transform:scaleX(-1);}
.horizon>div.main-list-area>div>.guage>.guage-process::before {content:""; display:block; width:100%; height:28px; background:var(--color-bg-bar);}
.horizon>div.main-list-area>div>.guage>.guage-process::after {content:""; height:28px; width:var(--dwidth, 50%); position:absolute; top:0px; right:0px; display:block; background:linear-gradient(to right, var(--color-role-dps-a) 0%, var(--color-role-dps-c) 100%); clip-path:url(#barclip); padding-left:8px}
.horizon>div.main-list-area>div>.jobicon>i {position:absolute; z-index:2; line-height:30px; width:28px; height:28px; left:4px; font-size:24px; padding-top:1px; clip-path:url(#coverbg)}
.horizon>div.main-list-area>div>.tableitems>div>.mainvalue,
.horizon>div.main-list-area>div>.tableitems>div>.name {flex-grow:1; text-align:right;}
.horizon>div.main-list-area>div>.tableitems>div>.maxvalue {display:none;}
.horizon>div.main-list-area>div>.tableitems>div>.maxhit::after,
.horizon>div.main-list-area>div>.tableitems>div>.maxvalue::after {display:none;}
.horizon>div.main-list-area>div>.tableitems>div>.maxhit::before,
.horizon>div.main-list-area>div>.tableitems>div>.maxvalue::before {display:none;}
.horizon>.header {display:flex; justify-content: space-between; align-items: center; height: 48px; background:transparent; filter:drop-shadow(0px 0px 1px #000) drop-shadow(0px 0px 3px #000); padding:0px 8px; clip-path:url(#header_path)}

/* 연합 모드 (자동 전환) */

.allience>div.main-list-area {display:flex; flex-direction:unset; flex-wrap:wrap}
.allience>div.main-list-area>div {box-sizing:border-box; min-width:20%; max-width:20%; flex-grow:1; flex-basis: 0;}
.allience>div.main-list-area>div .guage-process::after {clip-path:url(#barclip); padding-left:18px; height: 14px !important; top:14px}
.allience>div.main-list-area>div .maxhit,
.allience>div.main-list-area>div .maxvalue {display:none;}
.allience>div.main-list-area>div .encdps,
.allience>div.main-list-area>div .mainvalue {position:absolute; right:0px; bottom:-15px; font-weight:500; z-index:10000; border-radius:3px;}
.allience>div.main-list-area>div .tableitems::after { color:var(--color-maxhittext); padding-left:0px; content:attr(data-rank); left:-8px}

/* 연합 모드 자동 넓이 조정 */

@media screen and (max-width:999px)
{
    .allience>div.main-list-area>div {box-sizing:border-box; min-width:25%; max-width:25%; flex-grow:1; flex-basis: 0;}
}

@media screen and (max-width:599px)
{
    .allience>div.main-list-area>div {box-sizing:border-box; min-width:33.3%; max-width:33.3%; flex-grow:1; flex-basis: 0;}
}

@media screen and (max-width:399px)
{
    .allience>div.main-list-area>div {box-sizing:border-box; min-width:50%; max-width:50%; flex-grow:1; flex-basis: 0;}
}

/* 직업 색상값 */

div.main-list-area>div {--instance-a:rgba(128,128,128,.75); --instance-b:rgba(128,128,128,.5); --instance-c:rgba(128,128,128,.25); --instance-d:rgba(128,128,128,1);}
div.main-list-area>div>.jobicon::before {background:var(--instance-b)}
div.main-list-area>div>.tableitems::before {background-color:var(--instance-d);}

div.main-list-area>.me {filter:var(--color-role-me-filter, none); --instance-a:var(--color-role-me-a); --instance-b:var(--color-role-me-b); --instance-c:var(--color-role-me-c); --instance-d:var(--color-role-me-d); --color-role-dps-a:var(--color-role-me-a); --color-role-dps-b:var(--color-role-me-b); --color-role-dps-c:var(--color-role-me-c); --color-role-dps-d:var(--color-role-me-d);}

div.main-list-area>.me>.jobicon::before {background:var(--instance-b)}
div.main-list-area>.me>.tableitems::before {background-color:var(--instance-d);}

div.main-list-area>.tanker {filter:var(--color-role-tanker-filter, none); --color-text:var(--color-role-tanker-font); --instance-a:var(--color-role-tanker-a); --instance-b:var(--color-role-tanker-b); --instance-c:var(--color-role-tanker-c); --instance-d:var(--color-role-tanker-d); --color-role-dps-a:var(--color-role-tanker-a); --color-role-dps-b:var(--color-role-tanker-b); --color-role-dps-c:var(--color-role-tanker-c); --color-role-dps-d:var(--color-role-tanker-d);}

div.main-list-area>.tanker>.jobicon::before {background:var(--instance-b)}
div.main-list-area>.tanker>.tableitems::before {background-color:var(--instance-d);}

div.main-list-area>.healer {filter:var(--color-role-healer-filter, none); --color-text:var(--color-role-healer-font); --instance-a:var(--color-role-healer-a); --instance-b:var(--color-role-healer-b); --instance-c:var(--color-role-healer-c); --instance-d:var(--color-role-healer-d); --color-role-dps-a:var(--color-role-healer-a); --color-role-dps-b:var(--color-role-healer-b); --color-role-dps-c:var(--color-role-healer-c); --color-role-dps-d:var(--color-role-healer-d);}

div.main-list-area>.healer>.jobicon::before {background:var(--instance-b)}
div.main-list-area>.healer>.tableitems::before {background-color:var(--instance-d);}

div.main-list-area>.dps {filter:var(--color-role-dps-filter, none); --color-text:var(--color-role-dps-font); --instance-a:var(--color-role-dps-a); --instance-b:var(--color-role-dps-b); --instance-c:var(--color-role-dps-c); --instance-d:var(--color-role-dps-d);}

div.main-list-area>.dps>.jobicon::before {background:var(--instance-b)}
div.main-list-area>.dps>.tableitems::before {background-color:var(--instance-d);}

div.main-list-area>.gla,
div.main-list-area>.pld {filter:var(--color-role-pld-filter, none); --color-text:var(--color-role-pld-font); --instance-a:var(--color-role-pld-a); --instance-b:var(--color-role-pld-b); --instance-c:var(--color-role-pld-c); --instance-d:var(--color-role-pld-d); --color-role-dps-a:var(--color-role-pld-a); --color-role-dps-b:var(--color-role-pld-b); --color-role-dps-c:var(--color-role-pld-c); --color-role-dps-d:var(--color-role-pld-d);}

div.main-list-area>.pld>.jobicon::before {background:var(--instance-b)}
div.main-list-area>.pld>.tableitems::before {background-color:var(--instance-d);}

div.main-list-area>.mrd,
div.main-list-area>.war {filter:var(--color-role-war-filter, none); --color-text:var(--color-role-war-font); --instance-a:var(--color-role-war-a); --instance-b:var(--color-role-war-b); --instance-c:var(--color-role-war-c); --instance-d:var(--color-role-war-d); --color-role-dps-a:var(--color-role-war-a); --color-role-dps-b:var(--color-role-war-b); --color-role-dps-c:var(--color-role-war-c); --color-role-dps-d:var(--color-role-war-d);}

div.main-list-area>.war>.jobicon::before {background:var(--instance-b)}
div.main-list-area>.war>.tableitems::before {background-color:var(--instance-d);}

div.main-list-area>.drk {filter:var(--color-role-drk-filter, none); --color-text:var(--color-role-drk-font); --instance-a:var(--color-role-drk-a); --instance-b:var(--color-role-drk-b); --instance-c:var(--color-role-drk-c); --instance-d:var(--color-role-drk-d); --color-role-dps-a:var(--color-role-drk-a); --color-role-dps-b:var(--color-role-drk-b); --color-role-dps-c:var(--color-role-drk-c); --color-role-dps-d:var(--color-role-drk-d);}

div.main-list-area>.drk>.jobicon::before {background:var(--instance-b)}
div.main-list-area>.drk>.tableitems::before {background-color:var(--instance-d);}

div.main-list-area>.gnb {filter:var(--color-role-gnb-filter, none); --color-text:var(--color-role-gnb-font); --instance-a:var(--color-role-gnb-a); --instance-b:var(--color-role-gnb-b); --instance-c:var(--color-role-gnb-c); --instance-d:var(--color-role-gnb-d); --color-role-dps-a:var(--color-role-gnb-a); --color-role-dps-b:var(--color-role-gnb-b); --color-role-dps-c:var(--color-role-gnb-c); --color-role-dps-d:var(--color-role-gnb-d);}

div.main-list-area>.gnb>.jobicon::before {background:var(--instance-b)}
div.main-list-area>.gnb>.tableitems::before {background-color:var(--instance-d);}

div.main-list-area>.cnj,
div.main-list-area>.whm {filter:var(--color-role-whm-filter, none); --color-text:var(--color-role-whm-font); --instance-a:var(--color-role-whm-a); --instance-b:var(--color-role-whm-b); --instance-c:var(--color-role-whm-c); --instance-d:var(--color-role-whm-d); --color-role-dps-a:var(--color-role-whm-a); --color-role-dps-b:var(--color-role-whm-b); --color-role-dps-c:var(--color-role-whm-c); --color-role-dps-d:var(--color-role-whm-d);}

div.main-list-area>.whm>.jobicon::before {background:var(--instance-b)}
div.main-list-area>.whm>.tableitems::before {background-color:var(--instance-d);}

div.main-list-area>.sch {filter:var(--color-role-sch-filter, none); --color-text:var(--color-role-sch-font); --instance-a:var(--color-role-sch-a); --instance-b:var(--color-role-sch-b); --instance-c:var(--color-role-sch-c); --instance-d:var(--color-role-sch-d); --color-role-dps-a:var(--color-role-sch-a); --color-role-dps-b:var(--color-role-sch-b); --color-role-dps-c:var(--color-role-sch-c); --color-role-dps-d:var(--color-role-sch-d);}

div.main-list-area>.sch>.jobicon::before {background:var(--instance-b)}
div.main-list-area>.sch>.tableitems::before {background-color:var(--instance-d);}

div.main-list-area>.ast {filter:var(--color-role-ast-filter, none); --color-text:var(--color-role-ast-font); --instance-a:var(--color-role-ast-a); --instance-b:var(--color-role-ast-b); --instance-c:var(--color-role-ast-c); --instance-d:var(--color-role-ast-d); --color-role-dps-a:var(--color-role-ast-a); --color-role-dps-b:var(--color-role-ast-b); --color-role-dps-c:var(--color-role-ast-c); --color-role-dps-d:var(--color-role-ast-d);}

div.main-list-area>.ast>.jobicon::before {background:var(--instance-b)}
div.main-list-area>.ast>.tableitems::before {background-color:var(--instance-d);}

div.main-list-area>.pgl,
div.main-list-area>.mnk {filter:var(--color-role-mnk-filter, none); --color-text:var(--color-role-mnk-font); --instance-a:var(--color-role-mnk-a); --instance-b:var(--color-role-mnk-b); --instance-c:var(--color-role-mnk-c); --instance-d:var(--color-role-mnk-d); --color-role-dps-a:var(--color-role-mnk-a); --color-role-dps-b:var(--color-role-mnk-b); --color-role-dps-c:var(--color-role-mnk-c); --color-role-dps-d:var(--color-role-mnk-d);}

div.main-list-area>.mnk>.jobicon::before {background:var(--instance-b)}
div.main-list-area>.mnk>.tableitems::before {background-color:var(--instance-d);}

div.main-list-area>.lnc,
div.main-list-area>.drg {filter:var(--color-role-drg-filter, none); --color-text:var(--color-role-drg-font); --instance-a:var(--color-role-drg-a); --instance-b:var(--color-role-drg-b); --instance-c:var(--color-role-drg-c); --instance-d:var(--color-role-drg-d); --color-role-dps-a:var(--color-role-drg-a); --color-role-dps-b:var(--color-role-drg-b); --color-role-dps-c:var(--color-role-drg-c); --color-role-dps-d:var(--color-role-drg-d);}

div.main-list-area>.drg>.jobicon::before {background:var(--instance-b)}
div.main-list-area>.drg>.tableitems::before {background-color:var(--instance-d);}

div.main-list-area>.rog,
div.main-list-area>.nin {filter:var(--color-role-nin-filter, none); --color-text:var(--color-role-nin-font); --instance-a:var(--color-role-nin-a); --instance-b:var(--color-role-nin-b); --instance-c:var(--color-role-nin-c); --instance-d:var(--color-role-nin-d); --color-role-dps-a:var(--color-role-nin-a); --color-role-dps-b:var(--color-role-nin-b); --color-role-dps-c:var(--color-role-nin-c); --color-role-dps-d:var(--color-role-nin-d);}

div.main-list-area>.nin>.jobicon::before {background:var(--instance-b)}
div.main-list-area>.nin>.tableitems::before {background-color:var(--instance-d);}

div.main-list-area>.sam {filter:var(--color-role-sam-filter, none); --color-text:var(--color-role-sam-font); --instance-a:var(--color-role-sam-a); --instance-b:var(--color-role-sam-b); --instance-c:var(--color-role-sam-c); --instance-d:var(--color-role-sam-d); --color-role-dps-a:var(--color-role-sam-a); --color-role-dps-b:var(--color-role-sam-b); --color-role-dps-c:var(--color-role-sam-c); --color-role-dps-d:var(--color-role-sam-d);}

div.main-list-area>.sam>.jobicon::before {background:var(--instance-b)}
div.main-list-area>.sam>.tableitems::before {background-color:var(--instance-d);}

div.main-list-area>.arc,
div.main-list-area>.brd {filter:var(--color-role-brd-filter, none); --color-text:var(--color-role-brd-font); --instance-a:var(--color-role-brd-a); --instance-b:var(--color-role-brd-b); --instance-c:var(--color-role-brd-c); --instance-d:var(--color-role-brd-d); --color-role-dps-a:var(--color-role-brd-a); --color-role-dps-b:var(--color-role-brd-b); --color-role-dps-c:var(--color-role-brd-c); --color-role-dps-d:var(--color-role-brd-d);}

div.main-list-area>.brd>.jobicon::before {background:var(--instance-b)}
div.main-list-area>.brd>.tableitems::before {background-color:var(--instance-d);}

div.main-list-area>.mch {filter:var(--color-role-mch-filter, none); --color-text:var(--color-role-mch-font); --instance-a:var(--color-role-mch-a); --instance-b:var(--color-role-mch-b); --instance-c:var(--color-role-mch-c); --instance-d:var(--color-role-mch-d); --color-role-dps-a:var(--color-role-mch-a); --color-role-dps-b:var(--color-role-mch-b); --color-role-dps-c:var(--color-role-mch-c); --color-role-dps-d:var(--color-role-mch-d);}

div.main-list-area>.mch>.jobicon::before {background:var(--instance-b)}
div.main-list-area>.mch>.tableitems::before {background-color:var(--instance-d);}

div.main-list-area>.dnc {filter:var(--color-role-dnc-filter, none); --color-text:var(--color-role-dnc-font); --instance-a:var(--color-role-dnc-a); --instance-b:var(--color-role-dnc-b); --instance-c:var(--color-role-dnc-c); --instance-d:var(--color-role-dnc-d); --color-role-dps-a:var(--color-role-dnc-a); --color-role-dps-b:var(--color-role-dnc-b); --color-role-dps-c:var(--color-role-dnc-c); --color-role-dps-d:var(--color-role-dnc-d);}

div.main-list-area>.dnc>.jobicon::before {background:var(--instance-b)}
div.main-list-area>.dnc>.tableitems::before {background-color:var(--instance-d);}

div.main-list-area>.thm,
div.main-list-area>.blm {filter:var(--color-role-blm-filter, none); --color-text:var(--color-role-blm-font); --instance-a:var(--color-role-blm-a); --instance-b:var(--color-role-blm-b); --instance-c:var(--color-role-blm-c); --instance-d:var(--color-role-blm-d); --color-role-dps-a:var(--color-role-blm-a); --color-role-dps-b:var(--color-role-blm-b); --color-role-dps-c:var(--color-role-blm-c); --color-role-dps-d:var(--color-role-blm-d);}

div.main-list-area>.blm>.jobicon::before {background:var(--instance-b)}
div.main-list-area>.blm>.tableitems::before {background-color:var(--instance-d);}

div.main-list-area>.acn,
div.main-list-area>.smn {filter:var(--color-role-smn-filter, none); --color-text:var(--color-role-smn-font); --instance-a:var(--color-role-smn-a); --instance-b:var(--color-role-smn-b); --instance-c:var(--color-role-smn-c); --instance-d:var(--color-role-smn-d); --color-role-dps-a:var(--color-role-smn-a); --color-role-dps-b:var(--color-role-smn-b); --color-role-dps-c:var(--color-role-smn-c); --color-role-dps-d:var(--color-role-smn-d);}

div.main-list-area>.smn>.jobicon::before {background:var(--instance-b)}
div.main-list-area>.smn>.tableitems::before {background-color:var(--instance-d);}

div.main-list-area>.rdm {filter:var(--color-role-rdm-filter, none); --color-text:var(--color-role-rdm-font); --instance-a:var(--color-role-rdm-a); --instance-b:var(--color-role-rdm-b); --instance-c:var(--color-role-rdm-c); --instance-d:var(--color-role-rdm-d); --color-role-dps-a:var(--color-role-rdm-a); --color-role-dps-b:var(--color-role-rdm-b); --color-role-dps-c:var(--color-role-rdm-c); --color-role-dps-d:var(--color-role-rdm-d);}

div.main-list-area>.rdm>.jobicon::before {background:var(--instance-b)}
div.main-list-area>.rdm>.tableitems::before {background-color:var(--instance-d);}

div.main-list-area>.blu {filter:var(--color-role-blu-filter, none); --color-text:var(--color-role-blu-font); --instance-a:var(--color-role-blu-a); --instance-b:var(--color-role-blu-b); --instance-c:var(--color-role-blu-c); --instance-d:var(--color-role-blu-d); --color-role-dps-a:var(--color-role-blu-a); --color-role-dps-b:var(--color-role-blu-b); --color-role-dps-c:var(--color-role-blu-c); --color-role-dps-d:var(--color-role-blu-d);}

div.main-list-area>.blu>.jobicon::before {background:var(--instance-b)}
div.main-list-area>.blu>.tableitems::before {background-color:var(--instance-d);}

div.main-list-area>.rpr {filter:var(--color-role-rpr-filter, none); --color-text:var(--color-role-rpr-font); --instance-a:var(--color-role-rpr-a); --instance-b:var(--color-role-rpr-b); --instance-c:var(--color-role-rpr-c); --instance-d:var(--color-role-rpr-d); --color-role-dps-a:var(--color-role-rpr-a); --color-role-dps-b:var(--color-role-rpr-b); --color-role-dps-c:var(--color-role-rpr-c); --color-role-dps-d:var(--color-role-rpr-d);}

div.main-list-area>.rpr>.jobicon::before {background:var(--instance-b)}
div.main-list-area>.rpr>.tableitems::before {background-color:var(--instance-d);}

div.main-list-area>.sge {filter:var(--color-role-sge-filter, none); --color-text:var(--color-role-sge-font); --instance-a:var(--color-role-sge-a); --instance-b:var(--color-role-sge-b); --instance-c:var(--color-role-sge-c); --instance-d:var(--color-role-sge-d); --color-role-dps-a:var(--color-role-sge-a); --color-role-dps-b:var(--color-role-sge-b); --color-role-dps-c:var(--color-role-sge-c); --color-role-dps-d:var(--color-role-sge-d);}

div.main-list-area>.sge>.jobicon::before {background:var(--instance-b)}
div.main-list-area>.sge>.tableitems::before {background-color:var(--instance-d);}

div.main-list-area>.crp,
div.main-list-area>.bsm,
div.main-list-area>.arm,
div.main-list-area>.gsm,
div.main-list-area>.ltw,
div.main-list-area>.wvr,
div.main-list-area>.alc,
div.main-list-area>.cul,
div.main-list-area>.doh {filter:var(--color-role-doh-filter, none); --color-text:var(--color-role-doh-font); --instance-a:var(--color-role-doh-a); --instance-b:var(--color-role-doh-b); --instance-c:var(--color-role-doh-c); --instance-d:var(--color-role-doh-d); --color-role-dps-a:var(--color-role-doh-a); --color-role-dps-b:var(--color-role-doh-b); --color-role-dps-c:var(--color-role-doh-c); --color-role-dps-d:var(--color-role-doh-d);}

div.main-list-area>.doh>.jobicon::before {background:var(--instance-b)}
div.main-list-area>.doh>.tableitems::before {background-color:var(--instance-d);}

div.main-list-area>.min,
div.main-list-area>.btn,
div.main-list-area>.fsh,
div.main-list-area>.dol {filter:var(--color-role-dol-filter, none); --color-text:var(--color-role-dol-font); --instance-a:var(--color-role-dol-a); --instance-b:var(--color-role-dol-b); --instance-c:var(--color-role-dol-c); --instance-d:var(--color-role-dol-d); --color-role-dps-a:var(--color-role-dol-a); --color-role-dps-b:var(--color-role-dol-b); --color-role-dps-c:var(--color-role-dol-c); --color-role-dps-d:var(--color-role-dol-d);}

div.main-list-area>.dol>.jobicon::before {background:var(--instance-b)}
div.main-list-area>.dol>.tableitems::before {background-color:var(--instance-d);}